<section class="contents mission_select" style="padding-top: 10px;">
      <h2 class="title make_title">수업만들기 - 플립러닝</h2>
      <%= form_for(@article, url: @article_url, html:{class: "mission_flip1 mission_flip on",multipart: true}) do |f| %>
          <strong class="form_header">커리큘럼 만들기</strong>
          <%= f.text_field :title,{class: "make_title_text",placeholder: "수업 제목을 입력해주세요.",maxlength: "50"} %>
          <span class="title_len">0/50자</span>
          <%= f.text_area :description,{class: "make_text",placeholder: "수업 내용을 입력해주세요."} %>
          <p class="make_file_title">참고자료등록</p>
          <ul class="make_file_up">
            <%= f.text_field :videolink,{class: "url_text",placeholder: "유튜브 링크를 입력해주세요."} %>
            <%= f.file_field :videolink2,id: "ssi-upload" %>
            <!--<li><a href="#" onclick="moveclick();" title="파일첨부">파일첨부</a></li>-->
            <!--<li><a href="#" title="팀플 자료">팀플 자료</a></li>-->
          </ul>
          
          <div class="page_btn" style="margin-top:20px;">
              <p class="btn"><%= link_to '취소', curriculum_path(@category.id,@curriculum.id) %></p>
              <p class="btn"><%=f.submit '제출',class: "article",id: "ssi-uploadBtn"%></p> 
          </div>
      <% end %>
</section>
<script>
    var notifyOptions = {
        iconButtons: {
            className: 'fa fa-question about',
            method: function (e, modal) {
                ssi_modal.closeAll('notify');
                var btn = $(this).addClass('disabled');
                ssi_modal.dialog({
                    onClose: function () {
                        btn.removeClass('disabled')
                    },
                    onShow: function () {
                    },
                    okBtn: {className: 'btn btn-primary btn-sm'},
                    title: 'ssi-modal',
                    content: 'ssi-modal is an open source modal window plugin that only depends on jquery. It has many options and it\'s super flexible, maybe the most flexible modal out there... For more details click <a class="sss" href="http://ssbeefeater.github.io/#ssi-modal" target="_blank">here</a>',
                    sizeClass: 'small',
                    animation: true
                });
            }
        }
    };
    
    
    var data = ""
    $('#ssi-upload').ssi_uploader({
        beforeUpload: function () {
          
        },
        dropZone: false,
        url: '<%=articles_path%>',
        data: data,
        maxFileSize: 1000,
        maxNumberOfFiles: 1,
        //,
  //        allowed: ['jpg', 'gif', 'txt', 'png', 'pdf','zip']
  //        ,onEachUpload:function(file){console.log(file)}
      });
      
</script>

