<section class="contents mission_select" style="padding-top: 10px;">
      <h2 class="title make_title">수업만들기 - 플립러닝</h2>
      <%= form_for(@category, url: home_create_path, html:{class: "mission_flip1 mission_flip on"}) do |f| %>
          <strong class="form_header">카테고리 만들기</strong>
          <%= f.text_field :name,{class: "make_title_text",placeholder: "카테고리 제목을 입력해주세요.",maxlength: "50"} %>
          <span class="title_len">0/50자</span>
          <%= f.text_area :description,{class: "make_text",placeholder: "카테고리 내용을 입력해주세요."} %>
          <div class="page_btn" style="margin-top:20px;">
              <p class="btn"><%= link_to '취소', root_path %></p>
              <p class="btn"><%=f.submit '제출'%></p> 
          </div>
      <% end %>
</section>