<header class="timPlus_header after"><!--header (최상단 메뉴)-->
      <h1 class="logo"><a href="http://test.timplus.co.kr/">Timplus</a></h1>
      <nav class="timPlus_nav">
          <ul class="main_menu">
              <li><a href="http://test.timplus.co.kr/teacher/calendar_mission_main.asp">일정</a></li>
              <li><a href="http://test.timplus.co.kr/teacher/class_mission_main.asp">수업</a></li>
              <li><a href="http://test.timplus.co.kr/teacher/class_management.asp">반 관리</a></li>
              <li><a href="http://test.timplus.co.kr/teacher/nie.asp">NIE</a></li>
<!--                    <li><a href="#">보관함</a></li>-->
          </ul>
          <div class="news">
              <div class="setting">
                  <a href="#" class="">
                    <div class="profile_image" data-upic="<%=asset_path 'IMG_6955.GIF'%>" style="background: url(<%=asset_path 'IMG_6955.GIF'%>) center center / cover no-repeat rgb(255, 255, 255);">
                    </div>
                  </a>
                  
                  <ul class="setting_menu" style="display: none;">
                    <% if user_signed_in? %>
                      <li><%= link_to "<span></span>로그아웃".html_safe,destroy_user_session_path, method: :delete %></li>
                      <li><%= link_to "<span></span>rails_db".html_safe,rails_db_path%></li>
                      <li><%= link_to("<span></span>admin".html_safe, admin_root_path) if current_user.has_role? :admin %></li>
                    <% else %>
                      <li><%= link_to "<span></span>로그인".html_safe,'#', id: "login"%></li>
                    <% end %>
                  </ul>
              </div>
          </div>
      </nav>
  </header>
  <script>
    $('#login').click(function(e){
      e.preventDefault();
      swal({
        title: '로그인',
        type: "success",
        html:
          '<label for="male">ID</label>'+
          '<input id="swal-input1" class="swal2-input">' +
          '<label for="male">PASSWORD</label>'+
          '<input id="swal-input2" class="swal2-input">',
        preConfirm: function () {
          return new Promise(function (resolve) {
            resolve([
              $('#swal-input1').val(),
              $('#swal-input2').val()
            ])
          })
        },
        onOpen: function () {
          $('#swal-input1').focus()
        }
      }).then(function (result) {
        location.replace('/home/login?id=' + result[0]+'&password=' + result[1]);
        // swal(JSON.stringify(result))
      }).catch(swal.noop)
    })
  </script>