  <section class="contents class">
    <div class="curriculum_name">
        <span class="class_color" data-color="#58c9b9" style="background: rgb(88, 201, 185);"></span>
        <%= @title %>
        <!--<div class="btn right swal">커리큘럼 만들기</div>-->
        <%=link_to('커리큘럼 만들기',new_curriculum_path(home_id: @category.id),class: "btn2 right",style: "margin-top: 0px;") unless action_name=="index"%>
        <!--<a href="<%#=new_curriculum_path(home_id: @category.id)%>" class="btn right" data-sweet-alert-confirm="Are you Sure?">커리큘럼 만들기</a>-->
    </div>
    <% unless action_name=="index"%>
    <ul class="sorting_btn">
        <li><a href="?sort=1" class="on" data-remote="true"><p>전체</p><p class="count0"><%=@curriculums.length%></p></a></li>
        <li><a href="?sort=2" data-remote="true"><p>무료</p><p class="count1"><%=@curriculums.length%></p></a></li>
        <li><a href="?sort=3" data-remote="true"><p>유료</p><p class="count2">13</p></a></li>
        <li><a href="?sort=4" data-remote="true"><p>나의 강의</p><p class="count3">4</p></a></li>
        <li><a href="?sort=5" data-remote="true"><p>수강 강의</p><p class="count4">0</p></a></li>
    </ul>
    <% end %>
    <div class="contents_box">
        <%= render 'curribox', curriculums: @curriculums%>
    </div>
  </section>
